@{
    ViewData["Title"] = "Главная";
}

<h2>Главная</h2>

<div class="button-container">
    <a href="@Url.Action("index", "Grant_info")" class="btn">Справочники</a>
    <a href="@Url.Action("index", "Grades")" class="btn">Оценки</a>
    <a href="@Url.Action("index", "Gifted_grant")" class="btn">Выданные стипендии</a>
    <a href="@Url.Action("index", "Faculties")" class="btn">факи</a>
    <a href="@Url.Action("index", "Lecturers")" class="btn">преподователи</a>
    <a href="@Url.Action("index", "Students")" class="btn">студенты</a>
    <a href="@Url.Action("index", "Students")" class="btn">студенты</a>

</div>